# Section A

Q1 Solution 1: &emsp;&emsp;&emsp; Formula:  =[@Returned]*-1<br>
Q1 Solution 2: &emsp;&emsp;&emsp; Drag ‘Store’ in rows. Drag ‘Net Return’ in values. <br>
Q1 Solution 3: &emsp;&emsp;&emsp; Filter the table to keep only ‘NA’ values in Returned col. Replace values in table with 0

Q2 Solution 1: &emsp;&emsp;&emsp; Average skill score per batch

In [2]:
import pandas as pd
data = {
'CandID': ['C1', 'C2', 'C3', 'C4', 'C5'],
'Batch': ['B1', 'B1', 'B2', 'B2', 'B3'],
'DS_Score': [85, None, 78, 88, 90],
'Viz_Score': [80, 75, 82, None, 88],
'SQL_Score': [None, 70, 76, 85, 92]
}
df = pd.DataFrame(data)
df
avg1 = df.groupby('Batch') ['DS_Score'].mean()
avg2 = df.groupby('Batch') ['Viz_Score'].mean()
avg3 = df.groupby('Batch') ['SQL_Score'].mean()
print(avg1)
print(avg2)
print(avg3)
print("\nMean of B1", (avg1 [0]+avg2[0]+avg3[0])/3)
print("Mean of B2", (avg1 [1]+avg2[1]+avg3[1])/3)
print("Mean of B3", (avg1 [2]+avg2[2]+avg3[2])/3)

Batch
B1    85.0
B2    83.0
B3    90.0
Name: DS_Score, dtype: float64
Batch
B1    77.5
B2    82.0
B3    88.0
Name: Viz_Score, dtype: float64
Batch
B1    70.0
B2    80.5
B3    92.0
Name: SQL_Score, dtype: float64

Mean of B1 77.5
Mean of B2 81.83333333333333
Mean of B3 90.0

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_31288\839228853.py:17: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("\nMean of B1", (avg1 [0]+avg2[0]+avg3[0])/3)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_31288\839228853.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Mean of B2", (avg1 [1]+avg2[1]+avg3[1])/3)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_31288\839228853.py:19: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Mean of B3", (avg1 [2]+avg2[2]+avg3[2])/3)

Q2 Solution 2: &emsp;&emsp;&emsp; CandID with max score

In [3]:
import pandas as pd
data = {
'CandID': ['C1', 'C2', 'C3', 'C4', 'C5'],
'Batch': ['B1', 'B1', 'B2', 'B2', 'B3'],
'DS_Score': [85, None, 78, 88, 90],
'Viz_Score': [80, 75, 82, None, 88],
'SQL_Score': [None, 70, 76, 85, 92]
}
df = pd.DataFrame(data)
df['Total_score'] = df['DS_Score'].fillna(0)+df['Viz_Score'].fillna(0)+df['SQL_Score'].fillna(0)
df
res = df.loc[df['Total_score'].max()]
print(res)

KeyError: np.float64(270.0)

Q2 Solution 3: &emsp;&emsp;&emsp; df['DS_Score'].fillna(df['DS_Score'].mean(), inplace=True)

Q3 Solution 1: &emsp;&emsp;&emsp; select PurchaseID, BuyerID, net_amount from ( select (Amount-COALESCE(Discount,0) as net_amount from Purchases) as sub where net_amount=Amount-COALESCE(Discount,0)

Q3 Solution 2: &emsp;&emsp;&emsp; total net revenue per BuyerID – 
select BuyerID, SUM(Amount) from Purchases group by BuyerID

Q3 Solution 3: &emsp;&emsp;&emsp; if amount is NULL SQL will automatically treat it as 0 and do the aggregation on valid values. However still, the CASE WHEN THEN can be used to replace nulls with 0

Q4 Solution 1: &emsp;&emsp;&emsp; mean, var & max calculation

In [4]:
import numpy as np
readings = np.array ([18.0, 19.5, 21.0, 20.5, 19.0, 22.0, 21.5])
print(readings.mean())
print(readings.var())
print(readings.max())

20.214285714285715
1.7755102040816324
22.0

Q4 Solution 2: &emsp;&emsp;&emsp; counting vals greater than 0.5+mean

In [5]:
import numpy as np
readings = np.array([18.0, 19.5, 21.0, 20.5, 19.0, 22.0, 21.5])
print(readings.mean())
print(readings.var())
print(readings.max())
print(np.size (readings [readings > (readings.mean()+0.5)]))

20.214285714285715
1.7755102040816324
22.0
3

Q4 Solution 3: &emsp;&emsp;&emsp; to exclude outliers, we can filter using below syntax
readings[readings<100]

In [6]:
import numpy as np
readings = np.array([18.0, 19.5, 21.0, 20.5, 19.0, 22.0, 21.5])
print(readings.mean())
print(readings.var())
print(readings.max())
print(readings [readings < 100])

20.214285714285715
1.7755102040816324
22.0
[18.  19.5 21.  20.5 19.  22.  21.5]

# Section B

Q5 Solution 1: &emsp;&emsp;&emsp; the online channel in North grew from March-> Apr roughly by 3000

![alt text](<Screenshot 2025-09-20 203914.png>)

Q5 Solution 2: &emsp;&emsp;&emsp; DAX :: 
%Change = DIVIDE(GROUPBY(Sheet2,Sheet2[Month],Sheet2[Region]),SUM(Sheet2[Amount]))

Q5 Solution 3: &emsp;&emsp;&emsp; If channel has few rows due to missing values, the last seen value can be pulled through

Q6 Solution 1: &emsp;&emsp;&emsp; Avg satisfaction for churn yes / no

![alt text](<Screenshot 2025-09-20 205021.png>)

Q6 Solution 2: &emsp;&emsp;&emsp; Yes using the below PowerBI ss it seems raising the ticket value has caused more churning

![alt text](<Screenshot 2025-09-20 205210.png>)

Q6 Solution 3: &emsp;&emsp;&emsp; If avg_response_time indicates delay in responding to customer’s query, I think, the churn rate would increase with increase in response time

Q7 Solution 1: &emsp;&emsp;&emsp; average payment per user
select User, AVG(value) as average_payment_per_user from User_Payments group by User

Q7 Solution 2: &emsp;&emsp;&emsp; max single payment
select User, MAX(value) as max_single_payment from User_Payments group by User

Q7 Solution 3: &emsp;&emsp;&emsp; if user’s row is missing it should be ignored as we’re not aware which UID it belongs to, and then mention it explicitly in documentation.

Q8 Solution 1: &emsp;&emsp;&emsp; work hours per Staff

In [10]:
data = {'Staff': ['S10', '11', 'S12'],
'InTime': ['07:45', '08:30', '09:00'],
'OutTime': ['16:00', '17:30', '18:00']}
df = pd.DataFrame(data)
login = df['InTime']
pd_login = pd.to_datetime(login, format='mixed')
np_login = pd_login.to_numpy()

logout = df['OutTime']
pd_logout = pd.to_datetime(logout, format='mixed')
np_logout = pd_logout.to_numpy()
df['TotalHrsWorked'] = np_logout - np_login
df

  Staff InTime OutTime  TotalHrsWorked
0   S10  07:45   16:00 0 days 08:15:00
1    11  08:30   17:30 0 days 09:00:00
2   S12  09:00   18:00 0 days 09:00:00

Q8 Solution 2: &emsp;&emsp;&emsp; staff ID S11 & S12 worked the longest by 45mins as of S10

Q8 Solution 3: &emsp;&emsp;&emsp;