In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [15]:
df = pd.read_csv('porter clean data.csv')
df.describe().T

,count,mean,std,min,25%,50%,75%,max
market_id,183480.0,2.988462,1.530400,1.0,2.0,3.0,4.0,6.0
order_protocol,183480.0,2.874362,1.518744,-1.0,1.0,3.0,4.0,7.0
total_items,183480.0,2.941302,1.769003,1.0,2.0,3.0,4.0,11.0
subtotal,183480.0,2471.101711,1444.431123,0.0,1386.0,2120.0,3200.0,8150.0
num_distinct_items,183480.0,2.540310,1.372238,1.0,1.0,2.0,3.0,7.0
min_item_price,183480.0,660.795645,429.899504,0.0,300.0,595.0,925.0,2250.0
max_item_price,183480.0,1105.304131,435.168992,0.0,799.0,1050.0,1350.0,2825.0
total_onshift_partners,183480.0,42.843242,31.689005,0.0,18.0,37.0,60.0,143.0
total_busy_partners,183480.0,39.902333,29.579557,0.0,16.0,34.0,58.0,133.0
total_outstanding_orders,183480.0,50.907750,49.673697,0.0,12.0,34.0,77.0,211.0
Days_for_delivery,183480.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
week_number,183480.0,5.903357,1.213600,4.0,5.0,6.0,7.0,8.0

In [16]:
df.describe(include='object').T

,count,unique,top,freq
created_at,183480,169704,2015-01-24 01:56:33,6
actual_delivery_time,183480,167151,2015-02-11 20:40:45,5
store_id,183480,6671,d43ab110ab2489d6b9b2caa394bf920f,880
store_primary_category,183480,74,american,18061
primary_key_col,183480,14532,d43ab110ab2489d6b9b2caa394bf920fmexican,834
delivery_time,183480,6994,0 days 00:41:23,123
Time_Formatted,183480,6994,00:41:23,123

Observations:<br>
Most of the restaurants (9% overall) have 'american' dishes as speciality<br>
Of all orders most have an average of 3 items delivered per order<br>

In [ ]:
plt.Figure(figsize=(12,8))
corr_matrix = df[['market_id','total_items','subtotal','num_distinct_items','min_item_price','max_item_price','Days_for_delivery','week_number']].corr()
sns.heatmap(corr_matrix, annot=True, fmt=".2f", cmap="coolwarm", linewidths=0.5)
plt.title("Correlation Heatmap")
plt.show()